<h1>Chat</h1>

<ul id="chat">
</ul>
<h4>you can check out anytime you like, but you can never back</h4>
<%= form_for Message.new, remote: true do |f| %>
  <%= f.text_field :content %>
  <%= f.submit "Send" %>
<% end %>

<canvas id="sharedCanvas1" width="400" height="300"></canvas>
<canvas id="sharedCanvas2" width="400" height="300"></canvas>

<canvas id="myCanvas" width="400" height="300"></canvas>
<button id="clear">Clear</button>

<div id="subscribe">
  <% if @channel_num %>
    <%= subscribe_to "/messages/#{@channel_num}" %>
    <%= subscribe_to "/chat/#{@channel_num}" %>
    <%= subscribe_to "/clear/1" %>
    <%= subscribe_to "/clear/2" %>
  <% end %>
</div>


<button id="disconnect">Disconnect</button>

